*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
     background:   #171c20;
     font-family: "Lexend", sans-serif;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }

  .svgg {
    color: #007bff;
  }
  
  /*============== HEADER ============*/
  header {
    background-color: #111217;
    border-bottom: 1px solid white;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .logo {
    font-family: "Unbounded", sans-serif;
    font-size: 0.9rem;
    color: white;
  }

  .logo a {
    text-decoration: none;
    color: white;
  }
  
  nav {
    display: flex;
    gap: 2rem;

  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Lexend", sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  nav a:hover > svg, nav a:hover {
    color: #007bff;
    
  }

  .input {
    display: flex;
    align-items: center;
    background-color: #111217;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid white;
    gap: 0.5rem;
    width: 350px;
  }

input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #111217;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Lexend", sans-serif;
    outline: none;
  }

  
  input::placeholder {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Kanit", sans-serif;
    opacity: 0.5;   
  }

   /* off-screen-menu */
.off-screen-menu {
  background-color:  rgb(34, 37, 49);
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 0;
  right: -600px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  transition: .3s ease;
  height: 100vh;
}


.off-screen-menu.active {
  right: 0;
}

.hamburger {
  display: none;
  
}

.nav-bar {
  padding: 1rem;
  display: flex;
}



/* ham menu */
.ham-menu {
  height: 40px;
  width: 30px;
  margin-left: auto;
  position: relative;
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.ham-menu:hover {
  transform: scale(1.1); 
}

.ham-menu span {
  height: 2.5px; 
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  padding: 0.3rem;
  
}

li {
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}




.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 1rem; 
    padding: 1rem; 
    max-width: 1400px;
    margin: 0 auto;
}

.card { 
    border-radius: 1rem; 
    overflow: hidden; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
    cursor: pointer; 
    text-align: center; 
    position:relative;
    transition: transform 0.2s;
    width: 10rem;
    height: 15rem;
}

.card img { 
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.card button { 
    margin: 0.5rem; 
    padding: 0.6rem; 
    border: none; 
    border-radius: 6px; 
    background: #020d42; 
    color: white; 
    cursor: pointer;
    position: absolute; 
    top: 5px;
    left: 60%;
    display: none;
     
}

.card:hover { 
    transform: scale(1.05); 
}
.card:hover button { 
    display: block; 
    transition: all 0.3s ease-in-out; 
}

.card h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.8rem;
    color: white;
    font-family: "Lexend", sans-serif;
    max-width: 80%;
    text-align: left;
    text-shadow: 2px 2px 0.09rem black;
    display: none;
}

.card:hover h3 { 
    display: block; 
    transition: all 0.3s ease-in-out; 
}

.card > button > svg { 
    width: 1rem; 
    height: 1rem; 
    color: white; 
}

.details { 
    padding: 1rem; 
}

.details img { 
   width: 16rem;
   height: 24rem;
  float: left; 
  margin-right: 2rem;
  border-radius: 10px;
}

.details h2 { 
    margin-top: 0; 
    font-family: "Lexend", sans-serif;
    font-size: 3rem;
}

.details p {
  color: rgba(255, 255, 255, 0.71);
  font-weight: 300;
} 

hr {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.586);
}

.buttons { 
    margin-top: 1rem; 
}

.buttons button { 
    margin-right: 1rem; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    background: #0084ff; 
    color: white; 
}

.pagination { 
    text-align: center; 
    margin-bottom: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.pagination button { 
    margin: 0 5px; 
    padding: 0.5rem 1rem; 
    border-radius: 6px;  
    border: none; 
    cursor: pointer; 
    background-color: transparent;
}

.pagination span {
    color: white;
    font-family: "Lexend", sans-serif;
}

.page {
    padding: 1rem; 
    max-width: 1400px;
    margin: 0 auto;
    color: white;
}

.meta {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 0.7rem 0;
}

.meta> p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.586);
  font-size: 0.8rem;
}

strong {
  color: white;
  font-weight: 700;
}


.wrapper {
  display: flex;
}

.qisqacha {
  width: 60%;
}

/* Rejissyor, fasllar va epizodlar uchun umumiy div */
#extraInfo {
  margin-top: 1rem;
  padding: 0.5rem;

  align-items: center;
  gap: 4rem;
  display: flex;

}

#extraInfo p {
  margin: 0.5rem 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

@media (max-width: 765px) {

  .hamburger {
    display: block;
}

.logo {
  margin-left: 0.5rem;
}


  .navv {
    display: none;
}

  .header-wrapper {
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1rem;
  }
  .header-wrapper {
    padding: 1rem;
  }

  .logo h2 {
    font-size: 1rem;
  }

  nav {
    display: none;
  }

  .input {
    display: none;
  }
  
  .grid {
    justify-content: center;
    align-items: center;
    display: flex;
   flex-wrap: wrap;

  }

}



