/* GENERAL */
    *, html {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background: #141414;
        font-family: "Lexend", sans-serif;
    }


    @font-face {
        font-family: 'SF Pro Display';
        src: url('./fonts/SF-Pro-Text-Heavy.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
      }
      


 /* VECTOR */

    svg {
        width: 1rem;
        height: 1rem;
        color: white;
    }
  
  
    /* HEADER */

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
        max-width: 1400px;
        margin: 0 auto;
      }

      .svgg {
        color: #007bff;
      }

      .logo {
        font-family: "Unbounded", sans-serif;
        font-size: 0.9rem;
        color: white;
        font-weight: 900;
      }

      .logo a {
        text-decoration: none;
        color: white;
      }

      nav {
        display: flex;
        width: 568px;
        height: 75px;
        background-color: #0f0f0f;
        border-radius: 15px;
        padding: 0.5rem;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        border: 5px solid #1a1a1a;

      }
      
      nav a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: 200;
        font-family: "Lexend", sans-serif;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    
      nav a.active {
        background-color: #1a1a1a;
        color: white; 
        border-radius: 5px; 
      }


      .search-btn {
        margin-left: 11rem;
        display: flex;
        justify-content: flex-end;
      }
      
      .search-btn svg {
        width: 1.5rem;
        height: 1.5rem;
        color: white;
      }




      /* ==== HEADER ==== */

      .off-screen-menu {
        background-color:  rgb(34, 37, 49);
        width: 100%;
        max-width: 600px;
        position: fixed;
        top: 0;
        right: -600px;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        transition: .3s ease;
        height: 100vh;
      }
      
      
      .off-screen-menu.active {
        right: 0;
      }
      
      .hamburger {
        display: none;
        
      }
      
      .nav-bar {
        padding: 1rem;
        display: flex;
      }
      
      
      
      /* ham menu */
      .ham-menu {
        height: 40px;
        width: 30px;
        margin-left: auto;
        position: relative;
        cursor: pointer; 
        transition: transform 0.3s ease; 
      }
      
      .ham-menu:hover {
        transform: scale(1.1); 
      }
      
      .ham-menu span {
        height: 2.5px; 
        width: 90%;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
      }
      
      .ham-menu span:nth-child(1) {
        top: 25%;
      }
      .ham-menu span:nth-child(3) {
        top: 75%;
      }
      .ham-menu.active span {
        background-color: white;
      }
      .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      .ham-menu.active span:nth-child(2) {
        opacity: 0;
      }
      .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      
      .ham-menu-ul li > a {
        color: white;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-decoration: none;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 700;
        padding: 0.3rem;
        
      }
      
      li {
        list-style: none;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }
      
      

      





      /* SWIPER */

      .swiper-content {
        position: absolute;
        top: 10rem;
        left: 0;
        color: white;
        text-align: left;
        max-width: 665px;
        font-family: "DM Sans", sans-serif;
        margin-left: 4rem;
      }
    
      .swiper-content h2 {
        font-family: "DM Sans", sans-serif;
        font-size: 55px;
        font-weight: 750;
        margin-top: 0.5rem;
        text-shadow: 5px 5px 0.5rem black;
      }
    
      .swiper-content h3 {
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        display: flex;
        align-items: center;
        text-shadow: 5px 5px 0.5rem black;
    
    
      }
    
      .swiper-content h3 > img {
        width: 1.2rem;
      }
    
      .swiper-content span {
        font-size: 19px;
        font-weight: 500;
      }
    
      .little-content {
        font-size: 22px;
        font-weight: 550;
        margin-top: 0.8rem;
        text-shadow: 5px 5px 0.5rem black;
      }
    
      .little-content span {
        font-size: 20px;
        color: rgb(244, 239, 239);
        text-shadow: 5px 5px 0.5rem black;
      } 
    
      .text {
        margin-top: 0.5rem;
        font-size: 16px;
        font-weight: 400;
        color: rgb(244, 239, 239);
        line-height: 1.5;
        text-shadow: 1px 2px 0.2rem  black;
      }

      .swiper {
        max-width: 1400px;
        width: 100%;
        height: 600px;
        border-radius: 10px;
        margin-top: 1rem;
        position: relative;
      
      }
      
      .swiper:hover .swiper-button-next,
      .swiper:hover .swiper-button-prev {
        display: block;
      }
      
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      
      .swiper-slide img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
      
      .swiper-pagination-bullet {
        background-color: white !important;
        width: 8px !important;
        height: 8px !important;
        opacity: 0.7 !important;
      }
      
      .swiper-pagination-bullet-active {
        background-color: white !important;
        opacity: 1 !important;
      }
      

      .swiper-button-next,
      .swiper-button-prev {
        color: white;
        font-weight: 900;
        transform: scale(0.5); 
        margin: 0 0.7rem; 
        font-size: 1.5rem; 
        display: none;
        font-family: "Lexend", sans-serif;
      
      }
      
      .swiper-button-next:hover,
      .swiper-button-prev:hover {
        color: white;
      }



     /* SEARCH */

    .search {
        display: flex;
        align-items: center;
        background-color: #0f0f0f;
        gap: 0.7rem;
        width: 40rem;
        height: 55px;
        border-radius: 10px;
        padding: 1rem 2rem;
        border: 3px solid #525252;
        display: none;
        /* justify-self: center; */
        /* position: absolute;
        left: 29%;
        bottom: -8rem; */

        
      }

    input {
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: #0f0f0f;
        color: white;
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Inter';
        outline: none;
      }
    
    input::placeholder {
        color: white;
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Lexend';
        opacity: 0.5;   
      }

      



      /* GENRES */

    .genre-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 0rem;
        margin-top: 2rem;
    }
      
    .genre-section {
        max-width: 1490px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    
    .genre-title {
        font-size: 32px;
        color: #fff;
        font-family: "Lexend", sans-serif;
        font-weight: 770;
        margin-left: 1.4rem;

    }
    
    .genre-grid {
        display: flex;
        gap: 1.4rem;
        overflow-x: auto;
        padding: 1rem;
    }
    
    .genre-grid::-webkit-scrollbar {
        height: 8px;
        border-radius: 4px;
      }
      
    .genre-grid::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 4px;
      }

      .load-more {
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 300;
        font-family: "Lexend", sans-serif;
        color: white;
        margin-right: 1rem;
      }

      .load-more:hover {
        opacity: 0.5;
      }

      .load-more svg {
        margin-top: 0.2rem;
      }

      /* CARD */

    .grid { 
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
        gap: 1rem; 
        padding: 1rem; 
        max-width: 1400px;
        margin: 0 auto;
    }
    
    .card { 
        box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
        cursor: pointer; 
        width: 14.4rem;
        height: 21.6rem;
        flex: 0 0 auto;
        overflow: hidden;
        border-radius: 10px;
          
    }
    
    .card img { 
        width: 100%; 
        height: 100%;
        object-fit: cover; 
    }
    
    .card button { 
        margin: 0.5rem; 
        padding: 0.6rem; 
        border: none; 
        border-radius: 6px; 
        background: #020d42; 
        color: white; 
        cursor: pointer;
        position: absolute; 
        top: 5px;
        left: 60%;
        display: none;
    }
      
    .card:hover { 
          transform: scale(1.05);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 4px 12px rgba(0,0,0,0.2); 

      }

    .card:hover button { 
          display: block; 
          transition: all 0.3s ease-in-out; 
      }
      
      .card h3 {
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size: 0.8rem;
          color: white;
          font-family: "Lexend", sans-serif;
          max-width: 80%;
          text-align: left;
          text-shadow: 2px 2px 0.09rem black;
          display: none;
      }
      
      .card:hover h3 { 
          display: block; 
          transition: all 0.3s ease-in-out; 
      }
      
      .card > button > svg { 
          width: 1rem; 
          height: 1rem; 
          color: white; 
      }
      
      .details { 
          padding: 1rem; 
      }
      
      .details img { 
         width: 16rem;
         height: 24rem;
        float: left; 
        margin-right: 2rem;
        border-radius: 10px;
      }
      
      .details h2 { 
          margin-top: 0; 
          font-family: "Lexend", sans-serif;
          font-size: 3rem;
      }
      
      .details p {
        color: rgba(255, 255, 255, 0.71);
        font-weight: 300;
      } 
      
      hr {
        margin: 1rem 0;
        color: rgba(255, 255, 255, 0.586);
      }
      
      .buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
      
      }
      
      .buttons > button { 
      
          width: 13rem;
          height: 3rem;
          border: none; 
          border-radius: 4px; 
          cursor: pointer; 
          background:#111217; 
          color: white; 
          font-family: "Lexend", sans-serif;
          display: flex;
          font-size: 1rem;
          justify-content: center;
          align-items: center;
          gap: 0.4rem;
      }

      
    .pagination { 
        text-align: center; 
        margin-bottom: 1rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .pagination button { 
        margin: 0 5px; 
        padding: 0.5rem 1rem; 
        border-radius: 6px;  
        border: none; 
        cursor: pointer; 
        background-color: transparent;
    }

    .pagination span {
        color: white;
        font-family: "Lexend", sans-serif;
    }

    .page {
        padding: 1rem; 
        max-width: 1400px;
        margin: 0 auto;
        color: white;
    }

    .meta {
      display: flex;
      align-items: center;
      gap: 4rem;
      margin: 0.9rem;
    }

    .meta> p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      color: rgba(255, 255, 255, 0.586);
      font-size: 0.8rem;
    }

    strong {
      color: white;
      font-weight: 700;
    }


    .wrapper {
      display: flex;
      gap: 4rem;
    }

    .qisqacha {
    width: 50%;
    }

    .reyting {
    background-color: rgb(53, 64, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 23rem;
    margin-top: -1.8rem;
    padding: 2rem 1rem;
    border-radius: 17px;
    }



    .reyting strong {
    color: white;
    font-weight: 700;
    }

    .reyting p {
    color: white;
    text-align: center;
    }

    .rat {
    font-size: 6rem;
    font-weight: 900;
    }

    .ovoz {
    font-size: 1rem;
    }


    #extraInfo {
    margin-top: 1rem;


    align-items: center;
    gap: 4rem;
    display: flex;

    }

    #extraInfo p {
    margin: 0.5rem 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    }

    #content {
    display: none;
    }

    #pagination {
    display: none;
    }



    /* RESPONSIV */

    @media (max-width: 765px) {

        .hamburger {
          display: block;
      }
      
      .logo {
        margin-left: 0.5rem;
      }
      
      
      .search {
        display: none;
      }

        .nav-bar {
          display: none;
      }
      
        .header-wrapper {
          align-items: center;
          justify-content: space-between;
          padding: 0.6rem 1rem;
        }
        .header-wrapper {
          padding: 1rem;
        }
      
        .logo h2 {
          font-size: 1rem;
        }
      
        nav {
          display: none;
        }
      
        .input {
          display: none;
        }
        
        .grid {
          justify-content: center;
          align-items: center;
          display: flex;
         flex-wrap: wrap;
      
        }
      
      }
      
      @media (max-width: 768px) {
      
        .header-wrapper {
          align-items: center;
          padding: 1rem;
        }
      
        .logo h2 {
          font-size: 1.2rem;
        }
      
        nav {
          display: none;
        }
      
        .hamburger {
          display: block;
        }
      
        .input {
          width: 90%;
          margin: 1rem 0;
        }
      
      
        .grid {
          /* padding: 2rem 3rem; */
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      
        .card {
          width: 6.5rem;
          height: 9rem;
        }
      
        .card img {
          height: 100%;
          object-fit: cover;
        }
      
        .card h3 {
          font-size: 0.8rem;
          text-align: center;
        }
      
        .details {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem;
        }
      
        .details img {
          width: 12rem;
          height: 18rem;
          margin-bottom: 1rem;
        }
      
        .details h2 {
          font-size: 1.5rem;
          text-align: center;
        }
      
        .meta {
          gap: 1.5rem;
          text-align: center;
        }
      
        .wrapper {
          flex-direction: column;
          gap: 2rem;
        }
      
        .qisqacha {
          width: 100%;
        }
      
        .reyting {
          width: 100%;
          height: auto;
          padding: 1rem;
        }
      
        .rat {
          font-size: 4rem;
        }
      
        .buttons {
          flex-direction: column;
          gap: 1rem;
        }
      
      
        .pagination {
          gap: 0.5rem;
        }
      
        .card button {
          display: block;
        }
      
        .card button { 
          margin: 0.5rem; 
          padding: 0.5rem; 
          top: 5px;
          left: 50%;
           
      }
      }
      
      
      
        @media (max-width: 480px) {
            .header-wrapper {
            padding: 0.5rem;
            }
        
            .logo h2 {
            font-size: 1rem;
            }
        
            .input {
            width: 90%;
            margin: 1rem 0;
            }
        
            .grid {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            }
        }      