*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lexend", sans-serif;
  }
  
  header {
    background-color: #111217;
    border-bottom: 1px solid white;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .logo {
    font-family: "Unbounded", sans-serif;
    font-size: 0.9rem;
    color: white;
  }

  .logo a {
    text-decoration: none;
    color: white;
  }
  
  nav {
    display: flex;
    gap: 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Lexend", sans-serif;
  }
  
  nav a:hover {
    color: #007bff;
  }



.off-screen-menu {
  background-color:  rgb(34, 37, 49);
  width: 100%;
  max-width: 600px;
  position: fixed;
  top: 0;
  right: -600px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  transition: .3s ease;
  height: 100vh;
}


.off-screen-menu.active {
  right: 0;
}

.hamburger {
  display: none;
  
}

.nav-bar {
  padding: 1rem;
  display: flex;
}



/* ham menu */
.ham-menu {
  height: 40px;
  width: 30px;
  margin-left: auto;
  position: relative;
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

.ham-menu:hover {
  transform: scale(1.1); 
}

.ham-menu span {
  height: 2.5px; 
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  padding: 0.3rem;
  
}

li {
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

  .hero {
    background-color: #17181e;
    height: 90vh;
    overflow-y: hidden;
  }
  
  .hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 3rem;
  }
  
  .hero-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    padding: 2rem;
    color: white;
    font-family: "Bebas Neue", sans-serif;
  }


  
  .hero-left h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .hero-left p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: "Lexend", sans-serif;
  }

  .hero-left a {
    width: 100%;
    text-decoration: none;
  }
  
  button {
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Lexend", sans-serif;
    width: 100%;
  }

  button:hover {
    opacity: 0.5;
  }
  
  .hero-right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .poster {
    width: 10rem;
    height: 15rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

  }

  .poster-column {
    height: 100%;
    overflow: hidden;
    width: 10rem; 
    position: relative;
  }
  
  .poster-track {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: scrollUp 80s linear infinite;
  }
  
  @keyframes scrollUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-40%);
    }
  }

  .scroll-down .poster-track {
    animation: scrollDown 80s linear infinite;
  }
  
  @keyframes scrollDown {
    0% {
        transform: translateY(-40%);
      }
      100% {
        transform: translateY(0%);
      }
  }
  
  .p1 {
    background: url(./images/stranger-things.webp) no-repeat center center/cover;
  }

  .p2 {
    background: url(./images/ztkUQFLlC19CCMYHW9o1zWhJRNq.webp) no-repeat center center/cover;
  }

  .p3 {
    background: url(./images/chernobil.webp) no-repeat center center/cover;
  }

  .p4 {
    background: url(./images/otkirviqor.webp) no-repeat center center/cover;
  }

  .p5 {
    background: url(./images/gameofthroneswebp.webp) no-repeat center center/cover;
  }

  .p6 {
    background: url(./images/dark.webp) no-repeat center center/cover;
  }

  .p7 {
    background: url(./images/lord.webp) no-repeat center center/cover;
  }

  .p8 {
    background: url(./images/pulp.webp) no-repeat center center/cover;
  }

  .p9 {
    background: url(./images/harakiri.webp) no-repeat center center/cover;
  }

  .p10 {
    background: url(./images/thedark.webp) no-repeat center center/cover;
  }

  .p11 {
    background: url(./images/murder.webp) no-repeat center center/cover;
  }

  .p12 {
    background: url(./images/wolfwebp.webp) no-repeat center center/cover;
  }


  
  .p13 {
    background: url(./images/friren.webp) no-repeat center center/cover;
  }

  
  .p14 {
    background: url(./images/vinland.webp) no-repeat center center/cover;
  }
  
  .p15 {
    background: url(./images/hqRb1wyIVsaMukZElPBUXoJPqrR.webp) no-repeat center center/cover;
  }

  
  .p16 {
    background: url(./images/spirited.webp) no-repeat center center/cover;
  }

  
  .p17 {
    background: url(./images/deathnote.webp) no-repeat center center/cover;
  }

  
  .p18 {
    background: url(./images/fullmetal.webp) no-repeat center center/cover;
  }

  
  .p19 {
    background: url(./images/over.webp) no-repeat center center/cover;
  }

  .p20 {
    background: url(./images/wild.webp) no-repeat center center/cover;
  }

  .p21 {
    background: url(./images/rick.webp) no-repeat center center/cover;
  }

  .p22 {
    background: url(./images/spiderwebp.webp) no-repeat center center/cover;
  }

  .p23 {
    background: url(./images/arcane.webp.crdownload) no-repeat center center/cover;
  }

  .p24 {
    background: url(./images/theboy.webp) no-repeat center center/cover;
  }

  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }

    .hamburger {
      display: block;
  }

  .logo {
    margin-left: 0.5rem;
  }


    .navv {
      display: none;
  }
  
    .header-wrapper {
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem 1rem;
    }
  
    .hero {
      height: auto;
      padding: 1rem;
    }
  
    .hero-wrapper {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  
    .hero-left {
      width: 100%;
      text-align: center;
    }
  
    .hero-left h2 {
      font-size: 2.6rem;
    }
  
    .hero-left p {
      font-size: 0.9rem;
    }
  
    button {
      width: auto;
      padding: 0.6rem 1.5rem;
    }
  
    .hero-right {
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }
  
    .poster {
      width: 8rem;
      height: 12rem;
    }
  
    .poster-column {
      width: 100%;
      overflow: hidden;
      position: relative;
      flex-direction: column;
    }
    
    .poster {
      width: 8rem;
      height: 12rem;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .poster-track {
      display: flex;
      flex-direction:row;
      gap: 1rem;
      animation: scrollUp 10s linear infinite;
    }
    
    @keyframes scrollUp {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  
    .scroll-down .poster-track {
      animation: scrollDown 80s linear infinite;
    }
    
    @keyframes scrollDown {
      0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0%);
        }
    }

    .track2 {
      display: none;
    }
    

}









